body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    font-family: 'Verdana', sans-serif;
}


header {
    background-color: #007bff;
}


.navbar-nav .nav-link {
    margin-left: 15px;
}


footer {
    background-color: #343a40;
}

footer p {
    margin: 0;
}

.custom-header {
    background: linear-gradient(to bottom, #43b4f5, #8ab4dd);
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.custom-navbar{
    background-color: #8ab4dd;
}

.custom-header .navbar-brand {
    margin-right: 20px; 
}

h1 {
    margin: 0; 
}

.navbar-dark .navbar-nav .nav-link {
    color: white; 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #15ff00;
}


.container {
    max-width: 1400px;
    margin: 0 auto; 
    padding: 30px;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden; 
}
.container::before {
    content: ""; 
    position: absolute;
    top: -10px; 
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(to bottom right, rgba(0, 123, 255, 0.1), rgba(0, 123, 255, 0.05)); 
    border-radius: 15px;
    z-index: -1;
}

/* Títulos */
h2, h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    line-height: 1.6;
    margin-bottom: 20px; 
}


ul {
    padding-left: 20px; 
    margin-bottom: 20px; 
}

ul li {
    margin-bottom: 10px;
}

ul.list-group {
    padding-left: 0; 
}

ul.list-group .list-group-item {
    border: 1px solid #ddd;
    border-radius: 4px; 
    background-color: #fff; 
    margin-bottom: 10px; 
}

ul.list-group .list-group-item:last-child {
    margin-bottom: 0; 
}

.list-group-item-action:hover {
    color: #8c00ff; 
    background-color: #f1f1f1; 
    cursor: pointer;
}

.carousel-item img {
    object-fit: cover;
    width: 90%;
    height: 550px;
}

.carousel-caption {
    background-color: rgba(49, 49, 49, 0.5); /* Fundo escuro semitransparente para as legendas */
    padding: 20px;
    border-radius: 10px;
}

.list-group-item {
    border-radius: 10px; /* Arredondar os cantos */
    transition: background-color 0.3s; /* Efeito de transição */
}

.list-group-item:hover {
    background-color: #f8f9fa; /* Cor de fundo ao passar o mouse */
}

.topic {
    color: #007bff; /* Cor dos títulos */
    margin-top: 10px; /* Espaçamento superior */
    margin-right: 10px; /* Espaçamento entre o título e a informação */
    flex-shrink: 0; /* Impede o encolhimento do título */
}

.img-fluid {
    border-radius: 10px; /* Arredondar a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para a imagem */
}

iframe {
    border-radius: 10px; /* Arredondar o iframe */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o iframe */
}

.info-container {
    display: flex; /* Flexbox para alinhamento */
    align-items: center; /* Alinha verticalmente no centro */
}

.sub-info {
    margin: 0; /* Remove margens para alinhamento perfeito */
    margin-top: 5px;
}


.minhaclasse{
    justify-self: center;
    color: #007bff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.minhadiv{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}